<!-- landingpage.component.html -->
<app-sidebar></app-sidebar> <!-- Include the sidebar component -->

<div class="main-content">
    <div class="content-wrapper">
        <h1>Your one-stop solution for sharing educational resources.</h1>

        <h2 class="heading">Resource Sharing</h2>
        <p class="paragraph">We provide a platform for sharing educational resources, making learning accessible to everyone.</p>

        <h2 class="heading">Easy Navigation</h2>
        <p class="paragraph">Navigate through our website effortlessly with a user-friendly interface.</p>

        <h2 class="heading">Self-Directed Learning</h2>
        <p class="paragraph">Explore our collection of Self-Directed Learning resources that empower you to take control of your educational journey.</p>

        <h2 class="heading">Other Useful OERs</h2>
        <p class="paragraph">Discover a variety of Open Educational Resources (OERs) that support your learning needs.</p>
    </div>
</div>
