<div class="main-content">
    <section class="section about-project">
      <h2>About the Project</h2>
      <p>Share2Teach is a file-sharing web app designed for teachers to easily post study material for students. 
        Our aim is to create a platform that facilitates the seamless sharing of educational resources to improve student learning.</p>
    </section>
    
    <section class="section about-website">
      <h2>Our Project Website</h2>
      <p>The Share2Teach platform is hosted on an Azure Server, ensuring secure and scalable performance. 
        We developed the backend using Java Spring Boot, IntelliJ, and Maven. 
        For the frontend, we utilized Visual Studio Code with Angular, providing a responsive and dynamic user interface.</p>
    </section>
    
    <section class="section about-founders">
      <h2>About the Founders</h2>
      <p> We are a group of young, motivated developers with a shared passion for technology and education. 
        This project is the beginning of our journey to make a difference in the IT world by creating innovative solutions. 
        Our goal is to contribute to the educational sector with meaningful projects.</p>
    </section>
  </div>
  